$columns: 72;
$column-base-width: 72px/$columns;

* {
  box-sizing: border-box;
}

body {
  background-color: firebrick;
}

.frame {
  background-color: #CCC489;
  width: 680px;
  height: 580px;
  display: flex;
  align-content: center;
  margin-left: calc(calc(100% - 680px) / 2);
  margin-top: calc(calc(100% - 580px) / 2);
  box-shadow: 30px 1px 15px 15px rgba(0, 0, 0, .2);

  .canvas {
    width: 600px;
    height: 500px;
    background-color: #344AAD;
    position: relative;
    margin: 40px;
    .dirt {
      .one{
        width: 550px;
        height: 2px;
        background-color: #040308;
        position: absolute;
        top: 390px;
        left: 25px;
      }
      .two {
        width: 500px;
        height: 2px;
        background-color: #040308;
        position: absolute;
        top: 400px;
        left: 50px;
      }
      .three {
        width: 400px;
        height: 2px;
        background-color: #040308;
        position: absolute;
        top: 410px;
        left: 130px;
      }
      .four {
        width: 280px;
        height: 2px;
        background-color: #040308;
        position: absolute;
        top: 420px;
        left: 240px;
      }
      .five {
        width: 220px;
        height: 2px;
        background-color: #040308;
        position: absolute;
        top: 430px;
        left: 290px;
      }
      .six {
        width: 120px;
        height: 2px;
        background-color: #040308;
        position: absolute;
        top: 440px;
        left: 360px;
      }
    }

    .middle-item {
      position: absolute;
      width: 230px;
      height: 230px;
      top: 130px;
      left: 180px;
      background-color: #B2CBCF;
      border-radius: 50%;
      .wing {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: #93B3CC;
      }
      .left-wing {
        position: absolute;
        left: 25px;
        top: 35px;
      }
      .right-wing {
        position: absolute;
        left: 120px;
        top: 35px;
      }
      .bee-body{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-image: repeating-linear-gradient(
                        180deg,
                        #D7C702,
                        #D7C702 10px,
                        #040308 10px,
                        #040308 23px);
        position: absolute;
        top: 110px;
        left: 67px;
        .line {
          height: 13px;
        }
        .needle {
          width: 0;
          height: 0;
          border-left: 2px solid transparent;
          border-right: 2px solid transparent;
          border-top: 10px solid #040308;
          position: absolute;
          left: 45px;
          top: 95px;
        }
      }
    }

    .item-two {
      width: 200px;
      height: 300px;
      position: absolute;
      top: 100px;
      left: 430px;
    }

    .item-one {
      width: 200px;
      height: 300px;
      position: absolute;
      top: 100px;
      left: 10px;
    }
    .item-one, .item-two {

      [class*='bubble'] {
        border-radius: 50%
      }

      [class*='small'] {
        width: 20px;
        height: 20px;
      }

      [class*='medium-small'] {
        width: 30px;
        height: 30px;
      }

      [class*='medium'] {
        width: 35px;
        height: 35px;
      }

      [class*='big'] {
        width: 50px;
        height: 50px;
      }

      [class*='eggshell'] {
        background-color: #CFC68B;
      }

      [class*='pale-blue'] {
        background-color: #B7CDCA;
      }

      [class*='green'] {
        background-color: #769E3E;
      }

      [class*='yellow'] {
        background-color: #D2C200;
      }

      [class*='one-one'] {
        position: absolute;
        left: 20px;
        top: 10px;
      }

      [class*='one-two'] {
        position: absolute;
        top: 12px;
        left: 80px;
      }

      [class*='two-one'] {
        position: absolute;
        top: 40px;
        left: 40px;
      }

      [class*='two-two'] {
        position: absolute;
        top: 46px;
        left: 100px;
      }

      [class*='three-one'] {
        position: absolute;
        top: 82px;
        left: 12px;
      }

      [class*='three-two'] {
        position: absolute;
        top: 100px;
        left: 60px;
      }

      [class*='three-three'] {
        position: absolute;
        top: 95px;
        left: 90px;
      }

      [class*='three-four'] {
        position: absolute;
        top: 90px;
        left: 130px;
      }

      [class*='four-one'] {
        position: absolute;
        top: 125px;
        left: 8px;
      }

      [class*='four-two'] {
        position: absolute;
        top: 133px;
        left: 95px;
      }
      .grid-content {
        display: flex;
        flex-wrap: wrap;
        width: 72px;
        position: absolute;
        top: 120px;
        left: 35px;
        div {
          display: flex;

          [class*='col-'] {
            height: 2px;
            width: $column-base-width;
          }

          [class*='black'] {
            background-color: black;
          }

          @for $i from 1 through $columns {
            .col-#{$i} {
              width: $i*$column-base-width;
            }
          }
        }
      }
    }
  }
}